@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}
/* Style for the text */
.typing {
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 0; /* Initially hide the text */
  animation: typing 2s steps(19) 1s forwards, restartAnimation 4s infinite;
}

/* Typing animation */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* Text restart animation (loop after finishing) */
@keyframes restartAnimation {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* Add cursor (using the ::after pseudo-element) */
.typing::after {
  content: "|"; /* Cursor symbol */
  position: absolute;
  right: -4px;
  top: 0;
  color: #ff006a;
  animation: cursorBlink 0.4s step-end infinite alternate;
}

/* Cursor blink animation */
@keyframes cursorBlink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*scroll bar*/
/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 8px; /* Height of the scrollbar for horizontal scrolling */
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: #f0f0f0; /* Background color of the track */
  border-radius: 4px; /* Rounded corners */
}

/* Scrollbar Thumb */
::-webkit-scrollbar-thumb {
  background: #0c60c0; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners */
}

/* Scrollbar Thumb Hover */
::-webkit-scrollbar-thumb:hover {
  background: #084285; /* Darker color on hover */
}

/* Remove default arrows (triangle buttons) */
::-webkit-scrollbar-button {
  display: none; /* Hides the up/down or left/right arrows */
}

/*selection*/
*::selection {
  background-color: #00b4e0;
  color: black;
}